---

---
<!DOCTYPE html>
<html lang="en">
<head>
	<!--meta declarations-->
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta name="viewport" content="width=device-width">
	<!--inline styles-->
	<style>
		header, footer, article{display: block;}
		body{max-width: 28em; margin: 3em auto; font-size: 150%; line-height: 1.5em; color: #333;}
		header{text-align: center;}
		footer{margin-top: 1em; padding-top: 1em;font-size: 80%; text-align: center; border-top: 1px solid #aaa;}
		h1{margin-bottom: 0; font-size: 2.666em; line-height: 1.2em; text-align: center;}
		h2{font-size: 1.666em; color: #888;}
		hr{width: 80%; margin: 0 auto; border-top: 1px solid #ccc; border-bottom: 0;}
	</style>
</head>
<body>
{{content}}
</body>
</html>
